[class*=page] {
  min-height: 100%;
  background-color: $--background-color;
  word-wrap: break-word;
  word-break: break-all;
} 

.one-level-title {
  font-size: $--font-size-extra-large;
  font-weight: $--font-weight-bold;
}

.two-level-title {
  font-size: $--font-size-medium;
  font-weight: $--font-weight-bold;
}

.desc-content {
  color: $--color-gray2;
  font-size: $--font-size-base;
  margin-top: 7px;
}

.button-main {
  width: 100%;
  height: 64px;
  background-color: $--background-white;
  position: fixed;
  bottom: 0;
  box-shadow: inset 0px 1px 0px 0px #EEEEEE;
  padding: 10px 16px;
  box-sizing: border-box;

  .van-button {
    width: 100%;
    height: 44px;
    border-radius: 2px;
    font-size: $--font-size-large;
  }

  .van-uploader, .van-uploader__input-wrapper {
    width: 100%;
  }
}


// 人脸照片
.uploader-entrance {
  width: 64px;
  height: 64px;
  background-color: $--color-gray5;
  border: 1px dotted $--color-gray3;
  border-radius: 2px;
  position: relative;
  margin: 4px 0;
  box-sizing: border-box;
}

.uploader-entrance::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 28px;
  margin-left: -14px;
  margin-top: -2px;
  border-top: 2px solid;
  color: $--color-gray3;
}

.uploader-entrance::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 28px;
  margin-left: -2px;
  margin-top: -14px;
  border-left: 2px solid;
  color: $--color-gray3;
}


.face-pic-main {
  width: 64px;
  height: 64px;
  border-radius: 2px;
  position: relative;
  margin: 4px 0;

  .pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .delete-button {
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 2px 0px 2px;
    position: absolute;
    right: 0;

    .delete-icon {
      color: $--color-white;
      font-size: $--font-size-large;
      margin: 3px;
    }
  }
}