.van-cell {
  height: auto;
  padding: 14px 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van-cell::after {
  border-bottom: 1px solid $--color-gray4  !important;
  right: 0 !important;
}

.van-cell__title {
  width: 105px;
  font-size: $--font-size-medium;
  margin-right: 5px;
  color: $--color-gray1  !important;
}
// .van-field__control {
//   color: $--color-gray1  !important;
//   font-size: $--font-size-medium;
// }

// .van-field--error .van-field__control {
//   // color: $--color-red !important;
//   color: pink !;
// }

.van-cell--required .van-cell__title::after {
  color: #F76260;
  content: '*';
}

.van-cell--required::before {
  content: none !important;
}


// button
.van-button--info {
  background-color: $--color-blue  !important;
  border: none !important;
}

.van-button--small {
  min-width: 73px !important;
  height: 35px !important;
  padding: 6px 21px 6px 18px !important;

}

.van-button__text {
  font-size: $--font-size-large;
}

.van-dialog__confirm {
  color: $--color-blue !important;
  height: 100%;
}