$--background-color: #F5F7F9;
$--background-white: #FFFFFF;
$--background-black: #000000;


$--color-gray1: #333333;
$--color-gray2: #666666;
$--color-gray3: #CCCCCC;
$--color-gray4: #DFDFDF;
$--color-gray5: #F5F5F5;
$--color-white: #FFFFFF;
$--color-blue: #3B78FF;
$--color-black: #000000;
$--color-orange: #FF9400; 
$--color-red: #ff7373;


$--font-size-extra-large: 18px;
$--font-size-large: 17px;
$--font-size-medium: 16px;
$--font-size-base: 14px;
$--font-size-small: 13px;

$--font-weight-bold: 700;