.guide-page {
  display: flex;
  flex-direction: column;

  .correct-panel {
    height: 339px;
    background-color: $--background-white;
    padding: 50px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .correct-pic {
      width: 244px;
      height: 244px;
      margin-right: 38px;
    }
  }

  .error-panel {
    padding: 32px;
    height: 846px;
    background-color: $--background-white;
    flex: 1;

    .error-type-main {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;

      .error-pic {
        display: inline-block;
        width: 119px;
        height: 114px;
      }
      .item-error-type {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .desc {
        color: $--color-gray2;
        font-size: $--font-size-base;
        margin-top: 7px;
      }
    }  
  }
}