.guide-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .correct-panel {
    height: 339px;
    background-color: $--background-white;
    padding: 50px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .correct-pic {
      width: 244px;
      height: 244px;
      margin-right: 38px;
    }
  }

  .error-panel {
    padding: 32px;
    height: 846px;
    background-color: $--background-white;
    flex: 1;

    .error-type-main {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;

      .error-pic {
        display: inline-block;
        width: 119px;
        height: 114px;
      }
      .item-error-type {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .desc {
        color: $--color-gray2;
        font-size: $--font-size-base;
        margin-top: 7px;
      }
    }  
  }

  .upload-btn {
    width: 100%;
    height: 88px;
    position: relative;
    background-color: $--color-blue;
    text-align: center;

    .txt {
      line-height: 88px;
      color: $--color-white;
      font-size: $--font-size-large;
    }

    .upload-card-input {
      width: 100%;
      height: 100%;
      background: pink;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }
  }
  
}