.guide-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .correct-panel {
    height: 170px;
    background-color: $--background-white;
    padding: 24px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .correct-pic {
      width: 122px;
      height: 122px;
      margin-right: 18px;
    }
  }

  .error-panel {
    padding: 16px;
    height: 423px;
    background-color: $--background-white;
    flex: 1;

    .error-type-main {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .error-pic {
        display: inline-block;
        width: 60px;
        height: 57px;
      }
      .item-error-type {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .desc {
        color: $--color-gray2;
        font-size: $--font-size-base;
        margin-top: 6px;
      }
    }  
  }

  .upload-btn {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $--color-blue;
    text-align: center;

    .txt {
      color: $--color-white;
      font-size: $--font-size-large;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .upload-card-input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }
  }
  
}