.common-problem-page {
  padding: 20px;

  .desc-main {
    margin-bottom: 10px;

    .title {
      font-size: 17px;
      font-weight: 600;
      color: #333333;
    } 

    .desc {
      margin-top: 6px;
      color: #666666;
      font-size: 15px;
    }
  }

  .tips {
    margin-top: 20px;
    color: #FF9400;
  }
}